/node_modules
/npm-debug.log
/yarn-error.log

/vendor
/public/storage
/public/hot
/storage/*.key
package-lock.json
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/
/storage/logs/*
!/storage/logs/.gitignore
composer.lock
/public/build

/.env
/.env.*.php
/.idea
/.vscode
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

# Ignore debugbar and clockwork logs
/storage/debugbar/*
/storage/clockwork/*

# Ignore Laravel Mix files
/public/mix-manifest.json
/public/hot
/npm-debug.log*
/yarn-error.log*

# Ignore compiled files
/.env.backup
/.env.production
/public/js/*
!/public/js/.gitignore
/public/css/*
!/public/css/.gitignore

# Cache and IDE helper files
.phpunit.result.cache
.env
.env
.env.*.php
